<!--
This file is part of BogoMap-rutas.

BogoMap-rutas is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

BogoMap-rutas is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with BogoMap-rutas.  If not, see http://www.gnu.org/licenses/.
-->

{% extends "base.html" %}

{% block meta_javascript %}
  <script src="/theme/js/jquery.js"></script>
  <script src="/theme/js/leaflet.js"></script>
  <script src="/theme/js/leaflet/leaflet-hash.js"></script>
  <script src="/theme/js/leaflet/ActiveLayers.js"></script>
  <script src="/theme/js/leaflet/leaflet.ajax.js"></script>
  <script src="/theme/js/leaflet/leaflet.label.js"></script>
  <script src="/theme/js/modal.js"></script>
  <script src="/theme/js/search.js"></script>
  <script src="/theme/js/report-form.js"></script>

{% endblock %}

{% block meta_css %}
  <link rel="stylesheet" href="/theme/css/leaflet.css" type="text/css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="/theme/js/leaflet/zoomslider/L.Control.Zoomslider.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="/theme/css/leaflet.label.css" type="text/css" />


  {% if USE_LESS %}
  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.less">
  <script src="/theme/js/less.min.js" type="text/javascript"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.min.css">
  {% endif %}
{% endblock %}

{% block content %}
  {% include "partial/header-with-search.html" %}
  {% include "partial/sidebar.html" %}
  <main id="map-wrapper">
    <!-- MAP -->
     <div id="map">
     </div>

     <div id="bus-lines">
       <div class="lines-principal">
        <a href="?ruta=4" class="bus-line-link ruta-4">4</a>
        <a href="?ruta=7" class="bus-line-link ruta-7">7</a>
        <a href="?ruta=14" class="bus-line-link ruta-14">14</a>
        <a href="?ruta=23" class="bus-line-link ruta-23">23</a>
        <a href="?ruta=56b" class="bus-line-link ruta-56b">56b</a>
        <a href="?ruta=59b" class="bus-line-link ruta-59b">59b</a>
        <a href="?ruta=60" class="bus-line-link ruta-60">60</a>
        <a href="?ruta=83" class="bus-line-link ruta-83">83</a>
        <a href="?ruta=91" class="bus-line-link ruta-91">91</a>
        <a href="?ruta=97" class="bus-line-link ruta-97">97</a>
        <a href="?ruta=99" class="bus-line-link ruta-99">99</a>
       </div>
       <div class="lines-central">
         <a href="?ruta=107b" class="bus-line-link ruta-107b">107b</a>
         <a href="?ruta=108" class="bus-line-link ruta-108">108</a>
         <a href="?ruta=120" class="bus-line-link ruta-120">120</a>
         <a href="?ruta=132" class="bus-line-link ruta-132">132</a>
       </div>
       <div class="lines-southern">
         <a href="?ruta=142" class="bus-line-link ruta-142">142</a>
         <a href="?ruta=143" class="bus-line-link ruta-143">143</a>
         <a href="?ruta=183" class="bus-line-link ruta-183">183</a>
         <a href="?ruta=191" class="bus-line-link ruta-191">191</a>
         <a href="?ruta=200" class="bus-line-link ruta-200">200</a>
       </div>
       <div class="lines-northern">
         <a href="?ruta=257" class="bus-line-link ruta-257">257</a>
         <a href="?ruta=265" class="bus-line-link ruta-265">265</a>
         <a href="?ruta=270" class="bus-line-link ruta-270">270</a>
         <a href="?ruta=283" class="bus-line-link ruta-283">283</a>
         <a href="?ruta=291" class="bus-line-link ruta-291">291</a>
         <a href="?ruta=314" class="bus-line-link ruta-314">314</a>
       </div>
       <div class="lines-eastern">
         <a href="?ruta=359" class="bus-line-link ruta-359">359</a>
         <a href="?ruta=367" class="bus-line-link ruta-367">367</a>
         <a href="?ruta=385" class="bus-line-link ruta-385">385</a>
         <a href="?ruta=402" class="bus-line-link ruta-402">402</a>
         <a href="?ruta=403a" class="bus-line-link ruta-403a">403a</a>
         <a href="?ruta=421" class="bus-line-link ruta-421">421</a>
         <a href="?ruta=442" class="bus-line-link ruta-442">442</a>
       </div>
       <div class="lines-western">
         <a href="?ruta=465" class="bus-line-link ruta-465">465</a>
         <a href="?ruta=466" class="bus-line-link ruta-466">466</a>
         <a href="?ruta=488" class="bus-line-link ruta-488">488</a>
         <a href="?ruta=494a" class="bus-line-link ruta-494a">494a</a>
         <a href="?ruta=505" class="bus-line-link ruta-505">505</a>
         <a href="?ruta=544a" class="bus-line-link ruta-544a">544a</a>
         <a href="?ruta=544b" class="bus-line-link ruta-544b">544b</a>
         <a href="?ruta=603b" class="bus-line-link ruta-603b">603b</a>
         <a href="?ruta=626b" class="bus-line-link ruta-626b">626b</a>
         <a href="?ruta=652" class="bus-line-link ruta-652">652</a>
         <a href="?ruta=669" class="bus-line-link ruta-669">669</a>
         <a href="?ruta=674" class="bus-line-link ruta-674">674</a>
         <a href="?ruta=688" class="bus-line-link ruta-688">688</a>
         <a href="?ruta=722" class="bus-line-link ruta-722">722</a>
         <a href="?ruta=912" class="bus-line-link ruta-912">912</a>
         <a href="?ruta=c4" class="bus-line-link ruta-c4">c4</a>
         <a href="?ruta=c11" class="bus-line-link ruta-c11">c11</a>
         <a href="?ruta=c12a" class="bus-line-link ruta-c12a">c12a</a>
         <a href="?ruta=c33" class="bus-line-link ruta-c33">c33</a>
         <a href="?ruta=c41" class="bus-line-link ruta-c41">c41</a>
         <a href="?ruta=c53" class="bus-line-link ruta-c53">c53</a>
         <a href="?ruta=c125" class="bus-line-link ruta-c125">c125</a>
         <a href="?ruta=c135" class="bus-line-link ruta-c135">c135</a>
         <a href="?ruta=e25" class="bus-line-link ruta-e25">e25</a>
         <a href="?ruta=e46" class="bus-line-link ruta-e46">e46</a>
         <a href="?ruta=e57" class="bus-line-link ruta-e57">e57</a>
         <a href="?ruta=e61" class="bus-line-link ruta-e61">e61</a>
         <a href="?ruta=e70" class="bus-line-link ruta-e70">e70</a>
         <a href="?ruta=p500" class="bus-line-link ruta-p500">p500</a>
         <a href="?ruta=se6" class="bus-line-link ruta-se6">se6</a>
         <a href="?ruta=z8" class="bus-line-link ruta-z8">z8</a>
       </div>
       <a href="" id="report">Mandar sugerencia</a>

     </div>
  </main>
  <!-- <footer></footer> -->
{% endblock %}

{% block additional_js %}
  <script src="/theme/js/public-transport.js"></script>
<!--  {% include "partial/piwik.html" %} -->
  {% include "partial/jsonld.html" %}
{% endblock %}
